<table border = "1"  width="90%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Carga horária</th>

    </tr>
  </thead>

  <tbody>

    <% @users.each do |user| %>
      <%if user.role == "employee"%>

      <%workingload = 0.0%>

        <% @routines.each do |routine| %>

            <%if routine.cpf == user.cpf%>
              <%start_time = routine.hourIn
                end_time = routine.hourOut
                %>
                <%if start_time && end_time != nil%>
                  <% workingload += TimeDifference.between(start_time, end_time).in_hours%>
                <%end%>
            <%end%>
        <%end%>

        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        <td><%= user.workingload = workingload%></td>
      </tr>

      <% end %>
    <% end %>

  </tbody>
</table>
<br>

<%= button_to 'Voltar', controll_user_index_path, class: "btn btn-primary",:method => :get  %>
