<%if policy(@users).index? %>
<h1>Lista de Usuários cadastrados</h1>

<table border = "3" width="90%">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Tipo de usuário</th>

    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= button_to 'Análise do desempenho dos funcionários', controll_user_analise_path, class: "btn btn-primary",:method => :get  %><br>
<%= button_to 'Voltar', account_manager_index_path, class: "btn btn-primary",:method => :get  %>
<%end%>
