<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SnackSystem" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%if signed_in?%>
          <a class="navbar-brand" href= "/account_manager/index">SnackSystem 1.0 </a>
        <%else%>
          <a class="navbar-brand" href= "/">SnackSystem 1.0 </a>
        <%end%>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Cardápio","/cardapio" %></li>

            <%if signed_in?%>
              <li><%= link_to 'SAIR', destroy_user_session_path, method: :delete%></li>
              <li class = "user_logged">Bem vindo, <b><%= current_user.name%>!</b></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
      <%if !signed_in?%>
          <div class="well sidebar-nav">
            <h3>Olá, visitante!</h3>
            <ul class="nav nav-list">
              <li class="nav-header">Ainda não se cadastrou?</li>
              <li><%= link_to "Cadastre-se agora!", "/users/sign_up", class: "hover_sign_up"  %></li>
            </ul>
          </div><!--/.well -->
          <%end%>
          <div class="well sidebar-nav">
            <h3>Oferta do Dia! </h3>
            <ul class="nav nav-list">

              <table>
              <% @products.each do |product| %>
                <%if product.price <= 10.00%>
                  <tr>
                    <td><%= image_tag product.image.url(:small) %></td>
                    <td class = "product-mvp-name"><b><%= product.name %><br>
                            R$ <%= product.price %></b></td>
                  </tr>
              <%end%>
              <%end%>
              </table>
            </ul>
          </div><!--/.well -->

        </div><!--/span-->
      </div><!--/row-->

      <br><br><br>
      <footer class= "footer">

        <p>Lanchonete / CNPJ: 00.000.000/0000-00 / Inscrição Estadual: 000.000.000.000 /Universidade de Brasília Faculdade Gama ,Brasília, DF - 72444-240 </p>
        <p>SAC: 4002-8922   Email: lanchonetesystem@system.com</p>
        <p>&copy; SnackSystem 2016</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
