<%if policy(@routines).index? %>

  <%if @entered == 0 %>
    <%= button_to'Efetuar Entrada!', account_manager_emp_entry_time_path, class: "btn btn-primary",:method => :get  %><br>

  <%else%>
    <%= button_to 'Realizar Atividades', account_manager_emp_activity_path, class: "btn btn-primary",:method => :get  %><br>
    <%= button_to 'Efetuar Saída', account_manager_emp_exit_time_path, class: "btn btn-primary",:method => :get  %><br>
    <%end%>

    <%= button_to 'Voltar', account_manager_index_path, class: "btn btn-primary",:method => :get  %>

<%else%>
  <% flash[:notice] = "Você não possui permissão para esta ação!" %>
<%end%>
