
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @routine.name %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @routine.hour %>
</p>

<p>
  <strong>Product:</strong>
  <%= @routine.product %>
</p>

<%if policy(@routine).show? %>
<%= link_to 'Editar', edit_routine_path(@routine) %> |
<%= link_to 'Voltar', routines_path %>
<%end%>
