<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
      <h4><%= t('new_user_registration_path', :default => "Meu Cadastro") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>

    <div class="form-group">
      <%= f.label :nome %>
      <%= f.text_field :name, autofocus: true, class: "form-control", :size =>"10" %>
    </div>

    <div class="form-group">
      <%= f.label :telefone %>
      <%= f.text_field :phone,class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :endereço %>
      <%= f.text_field :address,class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label(:cpf, 'CPF')  %>
      <%= f.text_field :cpf,class: "form-control" %>
    </div>

    <%if !current_user.nil? && current_user.admin?%>

      <div class="form-group">
        <%= f.label(:rg, 'RG')  %>
        <%= f.text_field :rg,class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :carteira_de_trabalho %>
        <%= f.text_field :workPermit,class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :data_de_nascimento  %>
        <%= f.date_field :born,class: "form-control"  %>

      </div>

      <div class="form-group">
        <%= f.label :data_de_contratação  %>
        <%= f.date_field :contractDate,class: "form-control" %>
      </div>


    <%end%>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email,class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :senha %><br />
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :repita_a_senha %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <%= f.submit t('new_user_session_path', :default => "Cadastrar"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
