<h1>Acompanhamento de Caixa</h1>
<%@caixa_total = 0.0%>

<h3>Todos pedidos realizados</h3>

<table width="40%" border ="1" >
 <thead>
 <tr lign="center">
    <th>Produto </th>
    <th>Quantidade</th>
    <th>Endereço</th>
    <th>Status </th>
 </tr>
 </thead>

 <tbody>
   <% @orders.each do |order| %>
    <% @products.each do |product| %>
      <%if (order.name == product.name) && (order.status == "Produto Entregue!")%>
        <%@caixa_total += product.price * order.amount%>
      <%end%>
      <%end%>

        <tr align="center">
            <td><%= order.name %></td>
            <td><%= order.amount %></td>
            <td><%= order.adress %></td>
            <td><%= order.status %></td>
        </tr>
      <%end%>

  </tbody>
</table>
<br>

<br>
<b>CAIXA TOTAL <%=@caixa_total%></b>
<br><br>

<%= button_to 'Voltar', account_manager_index_path, class: "btn btn-primary",:method => :get  %>
