<h1>Acompanhamento de Pedidos</h1>

<table width="100%" border ="1" cellpadding="4" >
 <thead>
 <tr align="center">
    <th>Num. Pedido</th>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Status </th>
    <th>Controle </th>
 </tr>
 </thead>

 <tbody>
   <%@orders.each do |order| %>
        <tr align="center">
            <td><%= order.id %></td>
            <td><%= order.name %></td>
            <td><%= order.amount %></td>
            <td><%= order.status %></td>

            <td>
            <%= form_for order do |f| %>
                <%= f.select :status, ['Produto em Preparo !', 'Produto Finalizado!', 'Produto Entregue!'] %>
            </td>

            <td><%= f.submit "OK"%><% end %></td>
              <td><%= link_to 'Cancelar', order, method: :delete, data: { confirm: 'Tem certeza?' ,} %></td>
            <%end%>
        </tr>

  </tbody>
</table>
<br>
<%= button_to 'Voltar', routines_path, class: "btn btn-primary",:method => :get  %>
