<h1>Sua conta</h1>

<%if current_user.normal_user?  || current_user.employee? || current_user.admin?%>
<p>O que deseja fazer?</p>
  <%= link_to 'Realizar um novo pedido?', new_order_path %><br>
  <%= link_to 'Verificar andamento do(s) seu(s) pedido(s)!', orders_path %><br>
  <%if current_user.employee? || current_user.admin?%>
    <%= link_to 'Realizar Procedimentos!', routines_path %><br><br>
      <%if current_user.admin?%>
        <%= link_to 'Visualizar Usuários!', controll_user_index_path %><br>
        <%= link_to 'Visualizar lista de Produtos!', products_path %><br>
        <%= link_to 'Cadastrar novos Produtos!', new_product_path %><br>
        <%= link_to 'Cadastrar novos Funcionários!', new_user_registration_path %><br>
        <%= link_to 'Visualizar Caixa!', account_manager_caixa_path %><br>
    <%end%>
  <%end%>
<%end%>
