<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Produto%><br>
    <%@products = Product.all%>
    <%= f.select :name, @products.collect {|product| [ product.name]},class: "form-control" %>


  </div>
  <div class="field">
    <%= f.label :Quantidade %><br>
    <%= f.number_field :amount, class: "form-control"  %>
  </div>
  <div class="field">
    <%= f.label :Endereço %><br>
    <%= f.text_field :adress, class: "form-control", :value => current_user.address  %>
  </div><br>

  <%= f.hidden_field(:cpf, :value => current_user.cpf) %>
  <%= f.hidden_field(:status, :value => "Pedido realizado com sucesso!") %>

  <div class="actions">
    <%= f.submit "Confirmar", class: "btn btn-primary" %>
  </div>
<% end %>
