<h1>Acompanhamento de Pedidos</h1>

<table width="90%" border ="3" >
 <thead>
 <tr lign="center">
    <th>Produto </th>
    <th>Quantidade</th>
    <th>Endereço</th>
    <th>Status </th>
 </tr>
 </thead>

 <tbody>
   <% @orders.each do |order| %>
        <%if (current_user.cpf == order.cpf)%>
        <tr align="center">
            <td><%= order.name %></td>
            <td><%= order.amount %></td>
            <td><%= order.adress %></td>
            <td><%= order.status %></td>

            <%if policy(@orders).index? %>
              <td><%= link_to 'Mostrar Pedido', order %></td>
              <td><%= link_to 'Editar Pedido', edit_order_path(order) %></td>
              <td><%= link_to 'Cancelar Pedido', order, method: :delete, data: { confirm: 'Deseja cancelar o pedido?' } %></td>
            <%end%>
        </tr>
        <%end%>
      <%end%>

  </tbody>
</table>
<br>
<%= button_to 'Novo Pedido', new_order_path, class: "btn btn-primary",:method => :get  %> <br>
<%= button_to 'Voltar', account_manager_index_path, class: "btn btn-primary",:method => :get  %>
