<h1>Relatório do pedido</h1>
  <p>
    <strong>Nome:</strong>
    <%= @order.name %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= @order.amount %>
  </p>

  <p>
    <strong>Endereço para entrega:</strong>
    <%= @order.adress %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @order.status %>
  </p>
<br>
  <%= button_to 'Novo Pedido', new_order_path, class: "btn btn-primary",:method => :get  %> <br>
  <%= button_to 'Voltar', account_manager_index_path, class: "btn btn-primary",:method => :get  %>
