<h1>Bem vindo ao nosso cardápio!</h1>

<table width="100%" border ="6" class = "cardapio-table">
 <thead>
   <tr>
    <th>Produto</th>
    <th>Preço Unidade(R$)</th>
    <th>Ingredientes</th>
    <th>Foto</th>
  </tr>
 </thead>

 <tbody>
   <% @products.each do |product| %>
     <tr>
       <td><%= product.name %></td>
       <td><%= product.price %></td>
       <td><%= product.ingredients %></td>
       <td><%= image_tag product.image.url(:small) %></td>


 <%end%>

  </tbody>
</table>
<br>

<%if signed_in?%>
  <%= button_to 'Novo Pedido', new_order_path, class: "btn btn-primary",:method => :get  %><br>
  <%= button_to 'Voltar', account_manager_index_path, class: "btn btn-primary",:method => :get  %>
<%else%>
  <%= button_to 'Voltar', root_path, class: "btn btn-primary",:method => :get  %>
<%end%>
