<%= form_for @product, html: {multipart: true} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_do_produto %><br>
    <%= f.text_field :name,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :preço %><br>
    <%= f.text_field :price,class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :ingredientes %><br>
    <%= f.text_area :ingredients,class: "form-control" %>
  </div>
    <br>
  <div class="field">
    <%= f.label :selecionar_uma_imagem %><br>
    <%= f.file_field :image,accept: 'image/png,image/gif,image/jpeg'%>
  </div>


  <br>
  <div class="actions">
    <%= f.submit "Cadastrar produto!", class: "btn btn-primary" %>
  </div>
<% end %>
