
<p id="notice"><%= notice %></p>

<h1>Listagem de Produtos</h1>

<table class= "product-table" border= 1>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Ingredientes</th>
      <th>Imagem</th>
      <th>Controle<th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.ingredients %></td>
        <td><%= image_tag product.image.url(:small) %></td>
    <%if policy(@products).index? %>
        <td><%= link_to 'Mostrar informações do produto', product %></td>
        <td><%= link_to 'Editar Produto', edit_product_path(product) %></td>
        <td><%= link_to 'Excluir Produto', product, method: :delete, data: { confirm: 'Deseja excluir o produto?' } %></td>
      </tr>
    <% end %>
  <%end%>
  </tbody>
</table>

<br>

<%= button_to 'Cadastrar Novo Produto', new_product_path, class: "btn btn-primary",:method => :get %><br>
<%= button_to 'Voltar', account_manager_index_path, class: "btn btn-primary",:method => :get  %>
