<h1>Relatório do produto</h1>
<p>
  <strong>Nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Ingredientes:</strong>
  <%= @product.ingredients %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= image_tag @product.image.url(:small) %>
</p>

<%if policy(@product).show? %>
  <%= button_to 'Novo Cadastro', new_product_path, class: "btn btn-primary",:method => :get  %> <br>
  <%= button_to 'Voltar', account_manager_index_path, class: "btn btn-primary",:method => :get  %>
<%end%>
